<form action="/subscribe" method="POST" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">Welcome to the Quality of Life Tool</h1>
  <label for="username" class="sr-only">Username</label>
  <input type="text" name="username" class="form-control" placeholder="username" required autofocus>
  <label for="password" class="sr-only">Password</label>
  <input type="password" name="password" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
</form>
